/* Use a plump primary color with gold as a secondary color and a wintergreen third color */
:root {
  --primary: #9b59b6;
  --secondary: gold;
  --tertiary: #20c073;
}

/* Add some basic styling for the form */
form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
select {
  margin-left: 10px;
  background-color: white;
  color: var(--primary);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input[type="checkbox"] {
  margin-right: 10px;
}

/* Style the list of symptoms */
ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--secondary);
  margin-right: 10px;
}

