/* Add some basic styling for the form */
form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}
label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
select {
  margin-left: 10px;
}
input[type="checkbox"] {
  margin-right: 10px;
}

/* Style the list of symptoms */
ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
li {
  margin-bottom: 10px;
}

